.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  font-size: 5rem;
  animation: App-logo-spin infinite 2s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #8a7f8d; /* Warm gray color */
  margin-top: 20px;
  font-size: 1.5rem;
  text-decoration: none;
}

.App-link:hover, .App-link:focus {
  color: #6d5a6c; /* Slightly darker shade of gray for hover/focus */
  text-decoration: underline; /* Adds underline on hover/focus for accessibility */
}

